<section>
  <div class="my-pic">

    <a class="no-style" title="GitHub" target="_blank" href="https://github.com/pradeepverse">
      <div class="icon-holder github">
        <fa-icon [icon]="faGithub"></fa-icon>
      </div>
    </a>

    <a class="no-style" title="Dribbble" target="_blank" href="https://dribbble.com/PradeepRaj">
      <div class="icon-holder dribbble">
        <fa-icon [icon]="faDribbble"></fa-icon>
      </div>
    </a>

    <a class="no-style" title="Twitter" target="_blank" href="https://twitter.com/knowinmins">
      <div class="icon-holder twitter">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </div>
    </a>

    <a class="no-style" title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/pradeepverse/">
      <div class="icon-holder linkedin">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </div>
    </a>

    <a class="no-style" title="YouTube" target="_blank" href="https://www.youtube.com/user/knowinminutes">
      <div class="icon-holder youtube">
        <fa-icon [icon]="faYoutube"></fa-icon>
      </div>
    </a>

    <a class="no-style" title="Medium" target="_blank" href="https://medium.com/@pradeepverse">
      <div class="icon-holder medium">
        <fa-icon [icon]="faMedium"></fa-icon>
      </div>
    </a>

    <img src="assets/images/profile-square.jpg" alt="">
  </div>
</section>