<section>
  <div class="experience">
    <div class="graphic">
      <div class="line">
        <div class="circle" title="May 2015">

        </div>
        <div class="circle" title="July 2011">

        </div>
      </div>
    </div>
    <div class="content">
      <div class="title">Bachelor of Engineering - Electrical and Electronics</div>
      <div class="period">
        <fa-icon [icon]="faCalendar"></fa-icon> July 2011 - May 2015
      </div> <br>
      <div class="description">
        Graduated at Mepco Schlenk Engineering College, Sivakasi (Affliated to Anna University, Chennai) with <b>CGPA 8 out of 10</b>. <br>
        During my college days, I was acting as a Training and Placement Representative for my Department and involved in various recruitment related activities with college's placement cell and companies. <br>
        Our final year project - <a class="anchor-style" href="https://www.youtube.com/watch?v=QQOn-M5dcEY">Intelligent Freight System</a> has selected for the Best Project nomination.
      </div>
    </div>
  </div>

  <div class="experience">
    <div class="graphic">
      <div class="line">
        <div class="circle" title="March 2011">

        </div>
        <div class="circle" title="June 2010">

        </div>
      </div>
    </div>
    <div class="content">
      <div class="title">Higher Secondary Education - 12th Grade</div>
      <div class="period">
        <fa-icon [icon]="faCalendar"></fa-icon> June 2010 - March 2011
      </div> <br>
      <div class="description">
        Completed schooling at Sri Vidya Mandir Matriculation Higher Secondary School, Uthangarai - with <b>94.3%</b>.
      </div>
    </div>
  </div>


</section>