<section>
  <div class="development">
    <a href="https://angular.io/" target="_blank">
      <div class="skill-dev" title="Angular 6" id="angular">
        <img src="./../../assets/images/angular.png" alt="Angular 6">
      </div>
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank">
      <div class="skill-dev" title="CSS 3" id="css">
        <img src="./../../assets/images/css.png" alt="CSS 3">
      </div>
    </a>
    <a href="https://firebase.google.com/" target="_blank">
      <div class="skill-dev" title="Firebase" id="firebase">
        <img src="./../../assets/images/firebase.png" alt="Firebase">
      </div>
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
      <div class="skill-dev" title="HTML5" id="html">
        <img src="./../../assets/images/html.png" alt="HTML5">
      </div>
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics" target="_blank">
      <div class="skill-dev" title="Javascript" id="js">
        <img src="./../../assets/images/js.png" alt="Javascript">
      </div>
    </a>
    <a href="https://nodejs.org/en/" target="_blank">
      <div class="skill-dev" title="Node JS" id="node">
        <img src="./../../assets/images/node.png" alt="Node JS">
      </div>
    </a>
    <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">
      <div class="skill-dev" title="Progressive Web Application" id="pwa">
        <img src="./../../assets/images/pwa.png" alt="Progressive Web Application">
      </div>
    </a>
    <div class="content">
      Development
    </div>
  </div>
  <div class="divider">
    <div id="title">
      Skills and Tools
    </div>
  </div>
  <div class="design">

    <a href="https://www.adobe.com/in/products/illustrator.html" target="_blank">
      <div class="skill-design" title="Adobe Illustrator" id="ai">
        <img src="./../../assets/images/ai.png" alt="Adobe Illustrator">
      </div>
    </a>

    <a href="https://www.adobe.com/in/products/aftereffects.html" target="_blank">
      <div class="skill-design" title="Adobe After Effects" id="ae">
        <img src="./../../assets/images/ae.png" alt="Adobe After Effects">
      </div>
    </a>

    <a href="https://www.adobe.com/in/products/photoshop.html" target="_blank">
      <div class="skill-design" title="Adobe Photoshop" id="ps">
        <img src="./../../assets/images/ps.png" alt="Adobe Photoshop">
      </div>
    </a>

    <a href="https://www.maxon.net/en/products/cineware-for-after-effects/" target="_blank">
      <div class="skill-design" title="Cinema 4D Lite" id="c4d">
        <img src="./../../assets/images/c4d.png" alt="Cinema 4D Lite">
      </div>
    </a>

    <div class="content">
      Design
    </div>
  </div>
</section>