<section>
  <div class="row-1">
    <div class="image-container">
      <img src="./../../assets/images/profile.jpg" alt="">
    </div>
    <div class="details">
      <div class="name">Pradeep Raj</div> <br>
      <span class="skill">Web Developer</span> <span class="skill">Graphics Designer</span> <br>
      <span class="skill"><b>DOB:</b> 21-Aug-1993</span> <span class="skill"><b>Work Experience:</b> 3 Years</span>
    </div>
  </div>
  <div class="divider"></div>

  <div class="row-2">
    <a href="#professional-exp">
      <div matTooltip="Scroll down" class="icon down-arrow">
        <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
      </div>
    </a>
    <a href="#professional-exp">
      <div matTooltip="Professional Experience" class="icon">
        <fa-icon [icon]="faBriefcase"></fa-icon>
      </div>
    </a>
    <a href="#academic-details">
      <div matTooltip="Academic Details" class="icon">
        <fa-icon [icon]="faGraduationCap"></fa-icon>
      </div>
    </a>
    <a href="#my-skills">
      <div matTooltip="Skills and Tools" class="icon">
        <fa-icon [icon]="faGem"></fa-icon>
      </div>
    </a>
    <a href="#personal-projects">
      <div matTooltip="Personal Projects" class="icon">
        <fa-icon [icon]="faClipboardList"></fa-icon>
      </div>
    </a>
    <a href="#social-profile">
      <div matTooltip="Social Media" class="icon">
        <fa-icon [icon]="faGithub"></fa-icon>
      </div>
    </a>
  </div>

</section>